nav.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #005728;
    width: 100%;
}

a.navbar-brand {
    color: #005728;
    font-size: 25px;
    font-weight: 700;
    margin-left: 2px; 
}

a.navbar-brand:hover {
    color: #005728;
}

.navbar-nav {
    margin-right: 6.5rem;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.nav-link {
    margin-right: 1.5rem;
}

.navbar-link {
    color: #000000;
    text-decoration: none;
    margin-right: 2rem;
    margin-top: 8px;
}

.navbar-link:hover {
    color: #005728;
    text-decoration: 3px underline;
    transition: all 0.3s ease-in-out;
}

.nav-layanan {
    color: #000000;
}

.nav-layanan:hover {
    color: #005728;
    text-decoration: 3px underline;
    transition: all 0.3s ease-in-out;
}

.nav-dropdown {
    color: #000000;
    text-decoration: none;
    display: block;
    font-size: 13px;
    padding: 10px;
}

.nav-dropdown:hover {    
    display: block;
    color: #005728;
    background-color: #f3f2f2;
    padding: 10px;
}

.btn1-nav {
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #005728;
    width: 6rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}

.btn1-nav:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #005728;
    transition: all 0.3s ease-in-out;
}

.btn2-nav {
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #005728;
    color: #ffffff;
    width: 6rem;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    text-decoration: none;
}

.btn2-nav:hover {
    background-color: #000000;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}








